main {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 700px;
}
.content {
  margin: 0 auto;
  width: 63%;
  max-height: 700px;
}
.content-container {
  margin-top: 29px;
  display: inline-flex;
  max-height: 700px;
}
/*column 1 */
.history {
  display: inline-block;
  width: 20.67%;
  margin: 0;
  background-color: #f5f5f5;
  min-height: 623px;
}
.download-history {
  margin: 0 auto;
  .search-title {
    background-color: #49bbd4;
    height: 43px;
    display: inline-block;
    width: 100%;
    align-content: center;
    color: white;
    .search-title-text {
      margin: 0 12px;
      align-items: center;
      font-size: 14px;
    }
  }
  .recent-download {
    display: inline-block;
    height: 39.75px;
    width: 175px;
    margin: 4px 12px;
    .downloads {
      display: inline-block;
      margin-top: 11px;
      align-items: center;
      font-size: 11px;
      width: 56%;
      line-height: 14px;
    }
    .icon {
      display: inline-block;
      aspect-ratio: 1 / 1;
      height: 24px;
      padding-left: 48.55px;
    }
  }
}
.search-history {
  display: inline-block;
  height: 47px;
  width: 100%;
  .search-title {
    background-color: #49bbd4;
    height: 43px;
    display: inline-block;
    width: 100%;
    align-content: center;
    color: white;
    .search-title-text {
      margin: 0 12px;
      align-items: center;
      font-size: 14px;
    }
  }
  .recent-search {
    display: inline-block;
    height: 31.75px;
    width: 175px;
    margin: 4px 12px;

    .downloads {
      display: inline-block;
      margin-top: 11px;
      align-items: center;
      font-size: 11px;
      width: 87%;
      line-height: 14px;
    }
    .icon {
      display: inline-block;
      aspect-ratio: 1 / 1;
      height: 13px;
      opacity: 50%;
    }
  }
}
/*column 2 */
.entries {
  display: inline-block;
  min-height: 623px;
  width: 55.55%;
  margin: 0 23px;
  min-height: 623px;
  h2 {
    margin: 2px 3px;
    font-weight: lighter;
  }
}
.choices {
  display: inline-flex;
  width: 100%;

  .subscribed {
    display: inline-block;
    background-color: #f5f5f5;
    width: 49%;
    height: 68px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    .subs-title {
      margin-left: 101px;
      margin-top: 12px;
      font-size: 12px;
    }
    .subs-option {
      margin-top: 13px;
      margin-left: 9px;
      margin-right: 9px;
      .new-entries {
        display: inline-block;
        background-color: #49bbd4 !important;
        width: 49%;
        height: 29px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      .option-text {
        margin: 5px 0;
        text-align: center;
        font-size: 12px;
      }
      .options {
        display: inline-block;
        background-color: #dddddd;
        width: 49%;
        height: 29px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .all-entries {
    display: inline-block;
    background-color: #f5f5f5;
    width: 49%;
    height: 68px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-right-radius: 20px;
    .entry-title {
      margin-left: 101px;
      margin-top: 12px;
      font-size: 12px;
    }
    .entry-option {
      margin-top: 13px;
      margin-left: 9px;
      margin-right: 9px;
      .option-text {
        margin: 5px 0;
        text-align: center;
        font-size: 12px;
      }
      .options {
        display: inline-block;
        background-color: #dddddd;
        width: 49%;
        height: 29px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
.tutorial {
  display: inline-block;
  width: 17.99%;
  margin: 0;
  background-color: #f5f5f5;
  min-height: 623px;
}
